// SPDX-License-Identifier: (GPL-2.0+ OR X11)

/dts-v1/;
#include "suniv-f1c100s.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Allwinner F1C100s Generic Device";
	compatible = "allwinner,suniv-f1c100s",
		     "allwinner,suniv";

	aliases {
		serial0 = &uart1;
		spi0 = &spi0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&otg_sram {
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins_a>;
	status = "okay";
        spi-nor@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		spi-max-frequency = <50000000>;
	};
	
	spi-nand@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "spi-nand", "allwinner,sun4i-a10-nand";
		spi-max-frequency = <50000000>;
		partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;
            partition@0 {
                label = "u-boot";
                reg = <0x000000 0x100000>;
                read-only;
            };
            partition@100000 {
                label = "env";
                reg = <0x100000 0x80000>;
                read-only;
            };
			partition@180000 {
                label = "fdt";
                reg = <0x180000 0x200000>;
                read-only;
            };
            partition@200000 {
                label = "kernel";
                reg = <0x200000 0xA00000>;
                read-only;
            };
            partition@c00000 {
                label = "rootfs";
                reg = <0xc00000 0x1e00000>;
            };
			partition@2a00000 {
                label = "bsp";
                reg = <0x2a00000 0x1400000>;
            };
		    partition@3e00000 {
                label = "sys";
                reg = <0x3e00000 0x1400000>;
            };
			partition@5200000 {
                label = "swap";
                reg = <0x5200000 0x1e00000>;
            };
			partition@7000000 {
                label = "data";
                reg = <0x7000000 0x1000000>;
            };
        };
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins_a>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins_a>;
	status = "okay";
};

&usb_otg {
	status = "okay";
};

&usbphy {
	status = "okay";
};

&mmc0 {
	status = "okay";
};

&mmc2 {
	status = "okay";
};
